%ul.pricing-table
  %li.title= image_tag ("ash_and_erol.jpg")
  %li.price
    %div{:style => "font-family: 'Bree Serif';font-size: 20px;"}
    %div.description
      Welcome to With Love From Cambridge, a blog celebrating laughter, love and happiness.
  %li.bullet-item
    %a{:href => "https://instagram.com/ashleigherturk"}
      =image_tag('instagram_logo.png')
  %li.bullet-item
    %a{:href => "https://www.pinterest.com/ashserra"}
      =image_tag('Pinterest_Badge_Red.png')
  %li.bullet-item 
    %b{:style => "font-family: 'Bree Serif'"} Blogs that make me happy
    %p
      %ul{:style => "font-size: 14px;"}
        %li= link_to "Love Taza", "http://lovetaza.com/", target: "_blank"
        %li= link_to "Cupcakes and Cashmere ", "http://cupcakesandcashmere.com/", target: "_blank"
        %li= link_to "Classy Girls Wear Pearls",  "http://www.classygirlswearpearls.com/", target: "_blank"
        %li= link_to "Atlantic Pacific", "http://atlantic-pacific.blogspot.com/", target: "_blank"
        %li= link_to "Gal Meets Glam", "http://galmeetsglam.com/", target: "_blank"
        %li= link_to "M Loves M", "http://www.mlovesmblog.com/", target: "_blank"
        %li= link_to "Bows & Sequins", "http://bowsandsequins.com/", target: "_blank"
        %li= link_to "Paris in Four Months", "http://parisinfourmonths.com/", target: "_blank"
        %li= link_to "Sincerely Jules", "http://sincerelyjules.com/", target: "_blank"
  %li.cta-button
    Email Me!
    %br/
    %a{:href => "mailto:ashleighanderol@gmail.com"}
      = evil_icon 'ei-envelope', size: :l 