- if Post.where(published: true).present?
  - @posts.each do |post|
    %span{:style => "font-family: 'Bree Serif', serif;font-size: 42px;"}
      = post.title
    %p{:style => "font-size: 18px;"}= post.published_date.strftime("%B %d, %Y")
    - post.segments.each do |segment|
      %div{:style => "font-family: Georgia;"}
        = segment.content.html_safe
    %div
      = link_to like_post_path(post), remote: true do
        = evil_icon "ei-heart"
      %span#likes
        = render "posts/likes"
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61812206-1', 'auto');
  ga('send', 'pageview');