<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "With love From Cambridge" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61812206-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>

  <body>
    <%= evil_icons_sprite %>
    <%= render "layouts/nav" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <div class="medium-9 columns">
        <%= yield %>
      </div>
      <div class="medium-3 columns" >
        <%= render "main/sidebar" %>
      </div>
    </div>
  </body>
</html>
